In [30]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'notebook'

import pandas as pd
from tqdm import tqdm

In [2]:
from model.klotski import Klotski
from time import time
game = Klotski()

In [3]:
algs = {
    'A Star': lambda: game.a_star(12, 1, 2),
    'Greedy Search': lambda: game.greedy_search(12, 1, 2),
    'BFS': lambda: game.bfs(),
    'Iterative DFS': lambda: game.iterative_deepening_search()
}

In [4]:
results = []

In [5]:
for alg, func in algs.items():
    game.read_board('inputs/set1/board0.txt')
    start = time()
    result = func()
    exec_time = time() - start
    results.append({
        'game_id': 0,
        'alg': alg,
        'exec_time': exec_time,
        'n_moves': len(result.move_history) - 1
    })

In [6]:
df = pd.DataFrame(results)
df

   game_id            alg  exec_time  n_moves
0        0         A Star   0.526192        8
1        0  Greedy Search   1.891630       20
2        0            BFS  46.819945        8
3        0  Iterative DFS   8.336463        8

In [74]:
fig = px.bar(df, x='alg', y='exec_time', title='Tempo de execução por algoritmo',
       labels={
            'alg': 'Algoritmo',
            'exec_time': 'Tempo de execução em segundos'
       })

pio.write_image(fig, 'plots/board0_exec_time.png', width=350, height=500)

In [75]:
fig = px.bar(df, x='alg', y='n_moves', title='Número de jogadas por algoritmo',
       labels={
            'alg': 'Algoritmo',
            'n_moves': 'Número de jogadas'
       })

pio.write_image(fig, 'plots/board0_n_moves.png', width=350, height=500)

In [73]:
memory_used = [
    3.04*10**6,
    4*10**6,
    1.05*10**8,
    5.73*10**6
]
df['memory_used'] = memory_used
df

   game_id            alg  exec_time  n_moves  memory_used
0        0         A Star   0.526192        8    3040000.0
1        0  Greedy Search   1.891630       20    4000000.0
2        0            BFS  46.819945        8  105000000.0
3        0  Iterative DFS   8.336463        8    5730000.0

In [76]:
fig = px.bar(df, x='alg', y='memory_used',
       title='Quantidade de memória utilizada por algoritmo',
       labels={
            'game_id': 'Identificador do tabuleiro',
            'memory_used': 'Quantidade de blocos de memória utilizada'
       })

pio.write_image(fig, 'plots/board0_memory_used.png', width=350, height=500)

In [17]:
algs_complex = {
    'A Star': lambda: game.a_star(12, 1, 2),
    'Greedy Search': lambda: game.greedy_search(12, 1, 2)
}
results_complex = []

with tqdm(total=8) as pbar:
    for i in [3, 8, 10, 11]:
        for alg, func in algs_complex.items():
            game.read_board(f'inputs/set1/board{i}.txt')
            start = time()
            result = func()
            exec_time = time() - start
            
            results_complex.append({
                'game_id': i,
                'alg': alg,
                'exec_time': exec_time,
                'n_moves': len(result.move_history) - 1
            })

            pbar.update()

df_complex = pd.DataFrame(results_complex)

100%|██████████| 8/8 [05:15<00:00, 39.41s/it]

In [18]:
df_complex

   game_id            alg   exec_time  n_moves
0        3         A Star   14.751803       29
1        3  Greedy Search    9.843436      176
2        8         A Star    3.995257       47
3        8  Greedy Search   12.426161       79
4       10         A Star    4.405516       49
5       10  Greedy Search    8.978745      115
6       11         A Star   15.273069       49
7       11  Greedy Search  245.562254      257

In [20]:
df_complex_alt = df_complex.copy()
df_complex_alt['game_id'] = df_complex_alt['game_id'].astype(str)

In [66]:
fig = px.bar(df_complex_alt, x='game_id', y='exec_time', color='alg', barmode='group',
       title='Tempo de execução por tabuleiro',
       labels={
            'game_id': 'Identificador do tabuleiro',
            'exec_time': 'Tempo de execução',
            'alg': 'Algoritmo'
       })

pio.write_image(fig, 'plots/complex_exec_time.png', width=350, height=500)

In [67]:
fig = px.bar(df_complex_alt, x='game_id', y='n_moves', color='alg', barmode='group',
       title='Número de jogadas por tabuleiro',
       labels={
            'game_id': 'Identificador do tabuleiro',
            'n_moves': 'Número de jogadas',
            'alg': 'Algoritmo'
       })

pio.write_image(fig, 'plots/complex_n_moves.png', width=350, height=500)

In [68]:
memory_used = [
    9.99*10**6,
    1.61*10**7,
    2.86*10**7,
    2.67*10**7,
    2.83*10**7,
    2.77*10**7,
    2.68*10**7,
    7.49*10**7
]

In [69]:
df_complex_alt['memory_used'] = memory_used

In [70]:
df_complex_alt

  game_id            alg   exec_time  n_moves  memory_used
0       3         A Star   14.751803       29    9990000.0
1       3  Greedy Search    9.843436      176   16100000.0
2       8         A Star    3.995257       47   28600000.0
3       8  Greedy Search   12.426161       79   26700000.0
4      10         A Star    4.405516       49   28300000.0
5      10  Greedy Search    8.978745      115   27700000.0
6      11         A Star   15.273069       49   26800000.0
7      11  Greedy Search  245.562254      257   74900000.0

In [72]:
fig = px.bar(df_complex_alt, x='game_id', y='memory_used', color='alg', barmode='group',
       title='Quantidade de memória utilizada por tabuleiro',
       labels={
            'game_id': 'Identificador do tabuleiro',
            'memory_used': 'Quantidade de blocos de memória utilizada',
            'alg': 'Algoritmo'
       })

pio.write_image(fig, 'plots/complex_memory_used.png', width=350, height=500)